@import '~bootstrap/scss/bootstrap';

body {
  background-color: silver;
  text-align: center;
  font-family: monospace, 'Courier New', Courier;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}
#quotebox {
  height: auto;
  width: 90vw;
  font-size: 1.5em;
  background-color: mistyrose;
  margin: 50px auto;
  padding: 30px 30px;
  border-radius: 20px;
  box-shadow: 10px 10px 5px grey;
  #textquote {
    text-align: left;
  }
  #author {
    text-align: right;
  }
}
#newquote-button {
  position: relative;
}
.btn {
  font-size: 20px;
}
p {
  font-style: italic;
  a {
    text-decoration: none;
  }
}
@media screen and (max-width: 720px) {
  body {
    transform: scale(0.75);
  }
}