@import '~bootstrap/scss/bootstrap';

body {
  background-color: silver;
  text-align: center;
  font-family: monospace, 'Courier New', Courier;
  height: 100vh;
  font-size: 0.75rem;
}

#quotebox {
  height: auto;
  width: 90vw;
  background-color: mistyrose;
  margin: 10px auto;
  padding: 30px 30px;
  border-radius: 20px;
  box-shadow: 10px 10px 5px grey;
  #textquote {
    text-align: left;
  }
  #author {
    text-align: right;
  }
}

p {
  font-style: italic;
  a {
    text-decoration: none;
  }
}

.fa-quote-right, .fa-quote-left {
  transform: scale(0.5);
}

@media screen and (min-width: 720px) {
  body {
    font-size: 1rem;
  }
  #quotebox {
    width: 80vw;
    margin: 20px auto;
  }

  .fa-quote-right, .fa-quote-left {
    transform: scale(0.75);
  }
}

@media screen and (min-width: 1080px) {
  body {
    font-size: 1.5rem;
  }
  
  #quotebox {
    width: 70vw;
    margin: 50px auto;
  }

  .fa-quote-right, .fa-quote-left {
    transform: scale(1);
  }
}